*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0px;
    height: 100vh;
    width: 100vw;
}

.main{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.navbar {
    display: none;
}

.navdraw{
    /* display:flex; */
    background-color: rgb(47, 47, 51);
    
    height:100vh;
    width:25vw;
}

.container{
    /* background-color: rgb(28, 28, 36) ; */
    background-color:rgb(61, 61, 66);
    width:75vw;
    height: 100vh;
}
.chat_area{
    position: relative;
    align-items: center;
    width:75vw;
    height:83vh;
    margin:auto;
    /* padding:1% 5%; */
    /* position:absolute;*/
    overflow-y: scroll; 
    overflow-x: hidden;
    border-bottom: 1px solid rgb(56, 56, 56);
    box-shadow: 0px 0px 10px 1px rgb(45, 45, 45) inset ;
}
.search{
    display:flex;
    /* background-color:rgb(48, 48, 48); */
    width:75vw;
    height: 17vh;
    display: flex;
}
#search{
    width: 35vw;
    height:8vh;
    margin-top: 3vh;
    margin-left: 18vw;
    /* margin-right:-2%; */
    background-color:rgb(48, 48, 48);
    border:1px solid rgb(48, 48, 48);
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 1vh 1vw;
    color: rgb(178, 170, 170);
    font-size: 2.3vh;
}
.send_btn{
    background-color: rgb(48, 48, 48);
    width:3.5vw;
    height:8vh;
    margin-top: 3vh;
    margin-right: 18vw;
    border-radius:0px 8px 8px 0px;
    cursor: pointer;
    float:right;
}
/* .spacing{
    height: 30%;
} */
.bot_chat{
    width: 71.5vw;
    text-align: left;
    color:rgb(226, 226, 227);
    padding:2.5vh 8vw;
   
    background-color:rgb(71, 71, 94) ;
    margin:1.3vh 1.5vw;
    border-radius:10px;
   
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(53, 53, 58);
}
::-webkit-scrollbar-thumb {
    background: #888;
}
.user_chat{
    width: 71.5vw;
    text-align: right;
    color:rgb(226, 226, 227);
    padding:2.5vh 8vw;
    background-color:rgb(84, 84, 96) ;
    
    margin:1.3vh 1.5vw;
    border-radius:10px;
    font-size: 2.4vh;
}

/* .user_span{
    
    background-color:rgb(48, 48, 48);
    margin:5px 20px;
    padding:20px 100px;
    border-radius:10px;
} */
#urlin{
    padding: 8px;
    font-size: 14;
    height:6vh;
    width: 23vw;
    align-items: center;
    margin:3vh 1vw 3vh 1vw;
    border-radius:8px;
    background-color:rgb(37, 36, 36);
    color:rgb(178, 170, 170);
}
#upload_file{
display: none;
}
.bgcolor{
    background-color: rgb(47, 47, 51);
    margin:0.5vh 1vw 0vh 1vw;
    font-size: large;
    border:none;
    /* outline:none; */
}
.navigation{
    width: 25vw;
    height: 8vh;
    display: flex;
    margin: 0 0vw 1vh 0vw;
   border-bottom: 1px solid rgba(174, 174, 174, 0.3);
   /* border-radius: 8px; */
   /* margin:10px; */

}
.file_input{
    font-size: large;
    margin:2.5vh 1vw 0vh 1vw;
    /* cursor:pointer; */
}
.display_file{
    overflow-y:scroll; 
    width: 25vw; 
    height: 50vh;
    color:aliceblue;
    /* margin:10px; */
    margin-bottom: 1vh;
    border-radius: 0px;
    /* padding:15px; */
}
#urlin:hover{
    background-color: rgb(61, 60, 60) ;

}
#urlin:focus{
    background-color: rgb(61, 60, 60) ;
    
}
/* .navigation:hover{
    background-color: rgb(21, 21, 21) ;

}
.display_file:hover{
    background-color: rgb(21, 21, 21);
    background-color: rgb(107, 103, 103) ;
} */
.bottom_buttons{
    width: 25vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    /* left: 0;
    bottom: 0; */
    /* align-self: flex-end; */
}
.button{
    width: 25vw;
    height: 6.9vh;
    padding: 2vh 2vw;
    font-size: 2.3vh;
    /* height:6%;
    width: 96%; */
    align-items: center;
    /* margin:4px 7px;
    border-radius:8px; */
    background-color:rgb(37, 36, 36) ;
    color:rgb(178, 170, 170);
    cursor:pointer;
}
.button:hover{
   
    background-color:rgb(71, 71, 94)  ;

}
.button:active{
   
    background-color: rgb(21, 21, 21) ;
}
.upload_icon{
    cursor: pointer;
}
#train{
    cursor: pointer;
}
#refresh{
    cursor: pointer;
}
#train:hover{
   
    background-color: rgb(86, 86, 86) ;

}
#refresh:hover{
   
    background-color: rgb(86, 86, 86) ;

}
.upload_icon:hover{
   
    background-color: rgb(86, 86, 86) ;

}
.file{
    padding: 2vh 1vw 2vh 1vw;
    width: 24.4vw;
    height:7vh;
    display:flex;
    justify-content: space-between;
}
.file:hover{
    background-color: #616161;
    /* cursor:pointer; */
}
/* .file_name:hover{
    cursor:pointer;
} */
#train:active{
   
    background-color: rgb(33, 33, 35) ;

}
#refresh:active{
   
    background-color: rgb(33, 33, 35) ;

}
.upload_icon:active{
   
    background-color: rgb(33, 33, 35) ;

}
 .file i:hover{
    cursor:pointer;
} 
#check {
    display: none;
}

@media screen and (max-width:770px) {
    .main {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .navbar {
        width: 100vw;
        height: 8vh;
        display: flex;
        background-color: rgb(53, 53, 58);
        align-items: center;
    }
    .navdraw {
        display: none;
        margin-top: 8vh;
        width: 75vw;
        height: 92vh;
        z-index: 100;
        position: absolute;
    }
    #urlin {
        width: 65vw;
        height: 6vh;
        margin: 2vh 30vw 1vh 5vw;
    }
    .navigation {
        width: 75vw;
        height: 8vh;
    }
    .upload_icon {
        margin: 0 2vw 0 2vw;
    }   
    .bgcolor {
        margin-right: 2vw;
    }
    .display_file {
        width: 75vw;
        height: 40vh;
    }
    .file {
        width: 74vw;
        height: 8vh;
    }
    .bottom_buttons {
        width: 75vw;
        height: 44vh;
    }
    .button {
        width: 75vw;
        height: 8vh;
    }
    .container {
        width: 100vw;
        height: 92vh;
        z-index: 1;
    }
    .label_check {
        width: 13vw;
        height: 7vh;
    }
    .icon_btn {
        width: 13vw;
        height: 7vh;
        background-color: rgb(53, 53, 58);
        color: #fff;
        border: none;
        outline: none;
        font-size: 2.3vh;
    }
    .chat_area {
        width: 100vw;
        height: 75vh;
    }
    .search {
        width: 100vw;
        height: 17vh;
        justify-content: center;
    }
    #search {
        width: 55vw;
        height: 8vh;
    }
    .send_btn {
        width: 6vw;
        height: 8vh;
    }
    .user_chat {
        width: 90vw;
        margin: 1.5vh 5vw;
    }
    .bot_chat {
        width: 90vw;
        margin: 1.5vh 5vw;
    }
}